body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://media.cntraveler.com/photos/5b329f194965ab254448b8e1/master/w_4300,h_2866,c_limit/India_GettyImages-511119924.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.8);
}
.cover-container {
  max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;
}
.logoImage {
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
}
/* .heading{
    font-family: 'Courgette', cursive;
    color: rgb(254, 185,63);
    font-size:0.45in;
} */

.info1{
    display: inline;
    font-family: 'Courgette', cursive;
    color: rgb(254, 185,63);
    font-weight:bolder;
    font-size:2.5cm;
    margin-bottom: 0%;
}
.info2{
    font-family: 'Courgette', cursive;
    color: rgb(254, 185,63);
    font-weight:600;
    font-size:0.5cm;
    margin-left: 4cm;
    margin-top: 0%;
}
.writeup1{
    font-weight: 800;
    font-size: 1.2cm;
    font-style: italic;
    color: rgb(237, 243, 241);
    font-family: 'Cormorant Garamond', serif;
}
.writeup2{
    font-weight: 650;
    font-size: 0.8cm;
    font-style: italic;
    color: rgb(237, 243, 241);
    font-family: 'Cormorant Garamond', serif;
    margin-bottom:0.5in;
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  text-decoration: none;
  font-size: xx-large;
  border: #fff;
  border-width: 2px;
}
.glow:hover{
    text-decoration: none;
    color:black;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}