.camp{
    font-family: 'Courgette', cursive;
    margin-top: 0.25in;
    margin-bottom: 0.2in;
    font-size:0.8in;
    font-weight: 800;
    text-align: center;
    color: rgb(11, 11, 133);
}
.indeximage{
    height:3in;
    width: 100%;
}